@model Blog.ViewModels.Admin.AdminPostagensListarViewModel
@using Blog.ViewModels.Admin

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Listagem de Etiquetas</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <a class="btn btn-primary mb-3" href="/admin/autores/criar">Criar novo autor</a>

        <table class="table table-bordered">
            @foreach (PostagemAdminPostagens postagem in @Model.Postagens)
            {
                <thead>

                    <tr>

                        <th>@postagem.Titulo</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>@postagem.Texto</td>
                    </tr>

                </tbody>



            }
        </table>

    </div>
</div>